---
---
@import "minimal-mistakes";

/* 使用主题默认容器宽度，改为控制正文的最大宽度并居中 */
.layout--single .page .page__inner-wrap .page__content {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.layout--single.wide .page,
.layout--single.wide .page__related {
  float: none;
  width: 100%;
  padding-inline-end: 0;
}

.layout--single.wide .page .page__inner-wrap .page__content {
  max-width: 960px;
}